// ADDRESS :: START

.address
  .container
    .address__row
      .address__col
        p.address__col-title.wow.wowFadeUp(data-animation-delay="0.4s")!= "INTERNATIONAL FX BROKERS (PTY) LTD"
        p.address__col-text.wow.wowFadeUp(data-animation-delay="0.45s")!= "Reg No: 2017/282704/07"
        p.address__col-text.wow.wowFadeUp(data-animation-delay="0.5s")!= "2nd Floor, West Tower, Nelson Mandela Square"
        p.address__col-text.wow.wowFadeUp(data-animation-delay="0.55s")!= "Maude Street, Sandton, 2196"
        p.address__col-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "PO Box 785553, Sandton, 2196"

      .address__col
        p.address__col-title.wow.wowFadeUp(data-animation-delay="0.4s")!= "INTERNATIONAL FX BROKERS LIMITED"
        p.address__col-text.wow.wowFadeUp(data-animation-delay="0.45s")!= "Reg. no: 24702 IBC 2018"
        p.address__col-text.wow.wowFadeUp(data-animation-delay="0.5s")!= "Shamrock Lodge, Murray Road"
        p.address__col-text.wow.wowFadeUp(data-animation-delay="0.55s")!= "Kingstown, St. Vincent and the Grenadines"

// ADDRESS :: END
