// DIFFERENCE :: START

.difference
  .difference__bg
    .difference__bg-left
    .difference__bg-right

  .container

    .difference__row
      .difference__row-left
        h2.difference__title.title!= "The IFX Difference"
        p.difference__text.text!= "Our greatest asset is our people. We choose only the most talented and dedicated individuals so that we can stay on top – the best in our field. Our business strategy is designed to encourage and promote excellence."
        p.difference__text.text!= "As a Partner, you will be generously rewarded for your efforts. Your reward level is determined by the value of your overall portfolio and the number of new clients you introduce."
        p.difference__text.text!= "<span>We value our Partners.</span> </br>As such you will never be reduced to the status of just a name or number. We are justly proud of the way we assist our Partners, saluting their determination and dedication through sought-after perks."
        a(href="#" class="difference__btn" title="")!= "Become a partner"

      .difference__row-right

// DIFFERENCE :: END
