// DIFFERENCE :: START

.difference#theifxdifference
  .difference__bg
    .difference__bg-left
    .difference__bg-right.wow.wowFadeUp(data-animation-delay="0.3s")

  .container

    .difference__row
      .difference__row-left
        h2.difference__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "The IFX Difference"
        p.difference__text.text.wow.wowFadeUp(data-animation-delay="0.4s")!= "Our greatest asset is our people. We choose only the most talented and dedicated individuals so that we can stay on top – the best in our field. Our business strategy is designed to encourage and promote excellence."
        p.difference__text.text.wow.wowFadeUp(data-animation-delay="0.5s")!= "As a Partner, you will be generously rewarded for your efforts. Your reward level is determined by the value of your overall portfolio and the number of new clients you introduce."
        p.difference__text.text.wow.wowFadeUp(data-animation-delay="0.6s")!= "<span>We value our Partners.</span> </br>As such you will never be reduced to the status of just a name or number. We are justly proud of the way we assist our Partners, saluting their determination and dedication through sought-after perks."
        a.wow.wowFadeUp(data-animation-delay="0.7s", href="#" class="difference__btn" title="")!= "Become a partner"

      .difference__row-right

// DIFFERENCE :: END
