// SECTION 3 :: START

-
  var sectionMenuArr = [
    "Forex",
    "Futures",
    "Indices",
    "Shares",
    "Metals",
    "Energies"
  ];
  var sectionDataMenu = [
    "EURUSD",
    "GBPUSD",
    "USDJPY",
    "AUDUSD"
  ];

section.section.section-3#section-3
  .container

    .section__row

      .section__col
        .section__col-wrap
          h2.section__title.wow.wowFadeUp(data-animation-delay="0.5s")!= "Trade the</br>Financial Markets"
          p.section__text.wow.wowFadeUp(data-animation-delay="0.6s")!= "Trade over 72 asset classes from across the globe with instant, high speed access Forex, Metals, Commodities, Gold, Silver and CFDs through MetaTrader 4 and cTrader using our cutting edge infrastructure."

          a(href="#" class="section__link wow wowFadeUp" title="" data-animation-delay="0.7s")
            != "Learn more"
            span

      .section__col

        .section__menu
          ul.section__menu-list
            -for(var i = 0, len = sectionMenuArr.length; i < len; i++)
              li.section__menu-item.wow.wowFadeUp(
                trade-menu-js
                class!= (i === 0) ? "is-active" : ""
                data-animation-delay!= (0.5 + parseFloat(0.1 * i)).toFixed(1) + "s"
              )
                a(href="#" class="section__menu-link" title="")!= sectionMenuArr[i]

        .section__data.wow.wowFadeUp(data-animation-delay="0.5s")
          .section__data-left
            ul.section__submenu-list
              -for(var i = 0, len = sectionDataMenu.length; i < len; i++)
                li.section__submenu-item.wow.wowFadeUp(trade-data-js, data-animation-delay!= (0.65 + parseFloat(0.1 * i)).toFixed(1) + "s", class!= (i === 0) ? "is-active" : "")
                  a(href="#" class="section__submenu-link" title="")!= sectionDataMenu[i]

          .section__data-right
            .section__data-right--top.wow.wowFadeUp(data-animation-delay="0.65s")
              span!= "0.2"
              span!= "pips"
            .section__data-right--bottom.wow.wowFadeUp(data-animation-delay="0.65s")
              p
                span!= "BID"
                span!= "1.23957"
              p
                span!= "ASK"
                span!= "1.23959"


// SECTION 3 :: START