// SECTION 5 :: START

section.section.section-5#section-5
  .container
    .section__row
      .section__col
        h2.section__title!= "Hello, Wall Street"
        p.section__text!= "The IFX Academy is available to you anytime, anywhere that suits you"
        a(href="#" class="section__link" title="")
          != "Learn more"
          span

      .section__col
        .section__cover
          h2.section__title!= "Your Secret Weapon"
          p.section__text!= "Get access to Autochartist, the premier tool for making more informed trading decisions, and receive alerts to key support and resistance levels in all asset classes."
          a(href="#" class="section__link" title="")
            != "Learn more"
            span

        .section__cover
          img(
            src="./img/img-fastLogo_bg.png"
            srcset="./img/img-fastLogo_bg@2x.png 2x"
            title=""
          )
          h2.section__title!= "Your Secret Weapon"
          p.section__text!= "Get access to Autochartist, the premier tool for making more informed trading decisions, and receive alerts to key support and resistance levels in all asset classes."
          a(href="#" class="section__link" title="")
            != "Learn more"
            span


// SECTION 5 :: START