// SECTION 4 :: START

section.section.section-4#section-4

  img(
    src="./img/img-slide-4_bg.png"
    srcset="./img/img-slide-4_bg@2x.png 2x"
    class="section__img"
    title=""
    alt=""
  )

  .container
    .section__row

      .section__col
        .section__col-wrap
          h1.section__title!= "Start Trading in 3</br>Easy Steps"

          .section__col-cover
            .section__col-left
              p!= "1"
            .section__col-right
              p!= "Signup and Register"
              p!= "Sign up for an IFX account on Web, iOs or Android with an easy to use veri cation process."


      .section__col
        .section__col-wrap

          .section__col-cover
            .section__col-left
              p!= "2"
            .section__col-right
              p!= "Fund your Account"
              p!= "Select your preferred deposit method and deposit money into your IFX Account."

      .section__col
        .section__col-wrap

          .section__block
            span.section__block-line
            p.section__block-text!= "Start</br>Trading</br>Now"
            i.icon.icon-corner.section__block-icon

          .section__col-cover
            .section__col-left
              p!= "3"
            .section__col-right
              p!= "Start Trading"
              p!= "Trade multi assets and multi currencies from one account."

// SECTION 4 :: START