// SECTION 4 :: START

section.section.section-4#section-4

  .container

    h1.section__title.wow.wowFadeUp(data-animation-delay="0.5s")!= "Start Trading in 3</br>Easy Steps"

    .section__row

      .section__col
        .section__col-wrap

          .section__col-cover.wow.wowFadeUp(data-animation-delay="0.75s")
            .section__col-left
              p!= "1"
            .section__col-right
              p.wow.wowFadeUp(data-animation-delay="0.9s")!= "Signup and Register"
              p.wow.wowFadeUp(data-animation-delay="0.95s")!= "Sign up for an IFX account on Web, iOS or Android with an easy to use verification process."


      .section__col
        .section__col-wrap

          .section__col-cover.wow.wowFadeUp(data-animation-delay="0.75s")
            .section__col-left
              p!= "2"
            .section__col-right
              p.wow.wowFadeUp(data-animation-delay="0.9s")!= "Fund your Account"
              p.wow.wowFadeUp(data-animation-delay="0.95s")!= "Select your preferred deposit method and deposit money into your IFX Account."

      .section__col
        .section__col-wrap

          .section__block.wow.wowFadeUp(data-animation-delay="0.75s")
            span.section__block-line
            p.section__block-text!= "Start</br>Trading</br>Now"
            i.icon.icon-corner.section__block-icon

          .section__col-cover.wow.wowFadeUp(data-animation-delay="0.85s")
            .section__col-left
              p!= "3"
            .section__col-right
              p.wow.wowFadeUp(data-animation-delay="0.9s")!= "Start Trading"
              p.wow.wowFadeUp(data-animation-delay="0.95s")!= "Trade multi assets and multi currencies from one account."

  img(
    src="./img/img-slide-4_bg.png"
    srcset="./img/img-slide-4_bg@2x.png 2x"
    class="section__img animated"
    title=""
    alt=""
    parallax-js
    data-stellar-offset-parent="true"
    data-stellar-ratio="1.3"
    data-stellar-background-ratio="-1"
  )
// SECTION 4 :: START