// SECTION 5 :: START

section.section.section-5#section-5
  .container
    .section__row
      .section__col.wow.wowFadeLeft(data-animation-delay="0.4s")
        h2.section__title.wow.wowFadeUp(data-animation-delay="0.7s")!= "Hello, Wall Street"
        p.section__text.wow.wowFadeUp(data-animation-delay="0.8s")!= "The IFX Academy is available to you anytime, anywhere that suits you"
        a(href="#" class="section__link wow wowFadeUp" title="" data-animation-delay="0.9s")
          != "Learn more"
          span

      .section__col
        .section__cover.wow.wowFadeRight(data-animation-delay="0.4s")
          img(
            src="./img/img_autochartist_slide5.png"
            srcset="./img/img_autochartist_slide5@2x.png 2x"
            title=""
            class="section__img"
          )
          h2.section__title.wow.wowFadeUp(data-animation-delay="0.7s")!= "Your Secret Weapon"
          p.section__text.wow.wowFadeUp(data-animation-delay="0.8s")!= "Get access to Autochartist, the premier tool for making more informed trading decisions, and receive alerts to key support and resistance levels in all asset classes."
          a(href="#" class="section__link" title="" data-animation-delay="0.9s")
            != "Learn more"
            span

        .section__cover.wow.wowFadeRight(data-animation-delay="0.4s")
          img(
            src="./img/img-fastLogo_bg.png"
            srcset="./img/img-fastLogo_bg@2x.png 2x"
            title=""
          )
          h2.section__title.wow.wowFadeUp(data-animation-delay="0.7s")!= "Fast, Faster, iFX"
          p.section__text.wow.wowFadeUp(data-animation-delay="0.8s")!= "Experience the difference on our supersonic trading platforms powered by Equinix."
          a(href="#" class="section__link" title="" data-animation-delay="0.9s")
            != "Learn more"
            span


// SECTION 5 :: START