// SECTION 1 :: START

section.section.section-1#section-1
  .container

    .section__row
      .section__col
        h1.section__title.wow.wowFadeUp!= "The Future of Trading"
        p.section__subtitle.wow.wowFadeUp!= "Trade Forex, CFD’S and Cryptocurrencies"

        .section__col-wrap.wow.wowFadeUp
          a(href="#" class="section__btn section__btn--desktop" title="")!= "Start Trading Now"

          a(href="#section-2" class="section__link" title="" anchor-js)
            != "Discover more"
            i.icon.icon-arrow

      .section__col
        .section__col-wrap.wow.wowFadeUp
          img(
            src="./img/img-slide-1.png"
            srcset="./img/img-slide-1@2x.png 2x"
            title=""
            alt=""
            objectFit-js
          )

    a(href="#" class="section__btn section__btn--mobile wow wowFadeUp" title="")!= "Start Trading Now"


// SECTION 1 :: END