// SECTION 1 :: START

section.section.section-1
  .container

    .section__row
      .section__col
        h1.section__title!= "The Future of Trading"
        p.section__subtitle!= "Trade Forex, CFD’S and Cryptocurrencies"

        a(href="#" class="section__btn" title="")!= "Start Trading Now"

      .section__col

        img(
          src="./img/img-slide-1.png"
          srcset="./img/img-slide-1@2x.png 2x"
          title=""
          alt=""
        )

    a(href="#" class="section__link" title="")
      != "Discover more"
      i.icon.icon-arrow

// SECTION 1 :: END