// DEPOSITS & WITHDRAWALS :: START

.info

  .container.container--small
    p.info__title.title!= "The Equinix London Facility"

    p.info__text.text!= "The Equinix high performance data centre comprises a state-of-the-art network of execution venues, bank trading servers and buy/sell side firms. We are linked to Equinix via the Equinix Financial eXchange, giving us access to the most extensive selection of low-latency networks. In turn, we can directly exchange data with our strategic partners and customers."

    img(src="./img/img-info-0_ece.png" srcset="./img/img-info-0_ece@2x.png 2x" title="" class="info__img")

    p.info__subtitle.subtitle!= "Optical Fibre Cross-Connection"
    p.info__text.info__text--p.text!= "Everyone knows that optical fibre is faster and far more efficient than a normal internet connection. Through the Equinix optical fibre connection, we are linked with Integral and countless other providers – in micro-milliseconds. This means that latency levels are drastically reduced, and orders are executed at optimum speed, no matter where in the world you are."

    p.info__subtitle.subtitle!= "Come on in - Tour the Equinix NY4 Facility"
    p.info__text.info__text--p.text!= "The epicentre of the Equinix financial hub, the Equinix NY4 facility offers 60-plus exchanges and trading platforms, 400-plus buy and sell side firms, more than 150 financial service providers operating over 675-plus network bandwidth options."
    p.info__text.info__text--p.text!= "(Video by kind courtesy of Equinix.com)."

    img(src="./img/img-info-1_ece.png" srcset="./img/img-info-0_ece@2x.png 2x" title="" class="info__img")

    p.info__subtitle.subtitle!= "VPS Co-Location"
    p.info__text.info__text--p.text!= "As part of the Equinix NY4 facility, our clients have access to almost unlimited VPS (Virtual Private Server) options. Most importantly for Forex traders, these virtual private servers enable them to run automated algorithmic strategies and access expert advisors, literally 24/7 on a virtual machine."
    p.info__text.info__text--p.text!= "In short, the servers access multiple liquidity providers by relentlessly processing the live interbank spread quotes, using multi-tiered best bid/offer technology. When you place a trade, it is automatically linked to the cheapest current liquidity provider at the best price available. In turn, we can confidently guarantee our clients the lowest latency and the fastest execution speeds, matched only by some investment banks and major hedge funds."
    p.info__text.info__text--p.text!= "Our Equinix hosted live trading servers, located in the major financial hubs of London, are ready to trade anywhere around the globe. As such, almost 99% of orders placed with IFX are executed at the requested price."

// DEPOSITS & WITHDRAWALS :: END