// YOUR COMMITMENT :: END

.info#yourcommitment

  .container.container--small

    p.info__title.info__title--center.info__title--center.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "YOUR COMMITMENT"
    p.info__subtitle.info__subtitle--center.subtitle.wow.wowFadeUp(data-animation-delay="0.35s")!= "IFX Academy will give you everything that you need to become a knowledgeable Forex trader."
    p.info__text.info__text--center.text.wow.wowFadeUp(data-animation-delay="0.4s")!= "In turn, we expect you to be fully committed to your course: completing the interactive assignments and following our recommendations. Visualise your future as a successful trader. You must be passionate, determined and disciplined. That’s the only part we can’t do for you!"
    p.info__subtitle.info__subtitle--center.info__subtitle--color.subtitle.wow.wowFadeUp(data-animation-delay="0.45s")!= "It’s really that simple – what </br>are you waiting for?"

    a.wow.wowFadeUp(data-animation-delay="0.5s" href="#" class="info__btn" title="")!= "START LEARNING"

// YOUR COMMITMENT :: END