// INFO PARTNERSHIP :: START

.info

  .container.container--small#introducingbrokers

    p.info__title.title!= "Introducing Brokers"
    p.info__subtitle.subtitle!= "An Excellent IFX-Backed Opportunity"
    p.info__text.info__text--m.text!= "The IFX IB Program offers you lucrative rebates when you introduce potential clients. You don’t need specialized knowledge or experience of forex or CFDs. All you need is a desire to create your own business – and attract new clients to our business. We will back you all the way through solid business development experience. To ensure your success, you will receive ample technical support and marketing material to meet your every need."

  .container.container--small#affiliates
    p.info__title.title!= "Affiliates"
    p.info__text.text!= "The IFX Affiliate Program specifically concerns digital marketers interested in a flat commission fee for every active trader referred to us. Whether you’re a blogger, web publisher, mobile marketer, media buyer, email marketer, affiliate networker or social media commentator, the Affiliate Program is right up your alley."
    p.info__text.info__text--p.info__text--m.text!= "As an affiliate partner, you have automatic access to a lucrative multi-tiered plan. Whichever account you traders open, you’ll receive payment as they go through the application process. Our team will expertly guide them through the signup process on your behalf."

  .container.container--small#referafriend
    p.info__subtitle.info__subtitle--wp.subtitle!= "Be a good friend and"
    p.info__title.title!= "Refer A Friend"
    p.info__text.info__text--m.text!= "The IFX IB Program offers you lucrative rebates when you introduce potential clients. You don’t need specialized knowledge or experience of forex or CFDs. All you need is a desire to create your own business – and attract new clients to our business. We will back you all the way through solid business development experience. To ensure your success, you will receive ample technical support and marketing material to meet your every need."

// INFO PARTNERSHIP :: END