// THE SMALL PRINT :: START

mixin infoPdf(delayT, title, text)
  .info__pdf.wow.wowFadeUp(data-animation-delay!= delayT + "s")
    .info__pdf-col.info__pdf-col--0
      i.icon.icon-pdf
    .info__pdf-col.info__pdf-col--1
      p.info__pdf-title!= title
      p.info__pdf-text!= text
    .info__pdf-col.info__pdf-col--2
      a(
        href="./pdf/InfoCenterSmallPrint.pdf"
        class="info__pdf-btn info__pdf-btn--view"
        title=""
        target="_blank"
      )!= "View"
    .info__pdf-col.info__pdf-col--3
      a(
        href="./pdf/InfoCenterSmallPrint.pdf"
        class="info__pdf-btn info__pdf-btn--download"
        title=""
        download="InfoCenterSmallPrint.pdf"
      )!= "Download"

.info
  .container

    h2.info__title.title.wow.wowFadeUp(data-animation-delay="0.5s")!= "THE SMALL PRINT"

    .info__row
      +infoPdf("0.525", "Website Terms of Use", "Learn more about our terms and conditions when using our website")
      +infoPdf("0.55", "Account Opening Agreement", "Terms and conditions for new account holders")
      +infoPdf("0.575", "Complaint Handling Procedure", "To establish how complaints are handled")
      +infoPdf("0.6", "Conflict of Interest Policy", "Are you concerned about a conflict of interest?")
      +infoPdf("0.625", "Risk Disclosure Notice", "A comprehensive discussion on the risk of trading CFDs")
      +infoPdf("0.65", "Order Execution Policy", "Establish how we place orders")
      +infoPdf("0.675", "Anti-Money Laundering Policy", "Establish our commitment to anti-money laundering")
      +infoPdf("0.7", "Privacy Policy", "Are you concerned about the privacy of your personal data?")

// THE SMALL PRINT :: END
