// DEPOSITS & WITHDRAWALS :: START

.info

  .container.container--small
    p.info__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Withdrawals"
    p.info__text.text.wow.wowFadeUp(data-animation-delay="0.4s")!= "When you wish to undertake a withdrawal, kindly <a href='#'>login</a> to the Secure Client area."
    p.info__text.info__text--p.text.wow.wowFadeUp(data-animation-delay="0.5s")!= "Withdrawals for South African clients are normally processed within 2-4 hours. Please note that withdrawals for International clients transacted by bank wire transfer usually occur within three to five working days."
    p.info__text.info__text--p.text.wow.wowFadeUp(data-animation-delay="0.6s")!= "Due to third party regulations, funds will only be deposited in the bank account aligned with your IFX trading account. A joint bank account is acceptable, provided you are a mandated signatory."
    p.info__text.info__text--p.text.wow.wowFadeUp(data-animation-delay="0.7s")!= "Credit card withdrawals are limited to the original deposit amount. Withdrawals exceeding this amount require a different withdrawal method. Should an account, funded by credit card, be subject to a withdrawal within the first 60 days it will be refunded to that credit card only."

// DEPOSITS & WITHDRAWALS :: END