// CONTACT US :: START

.main

  .container
    h1.main__title!= "Want To Talk To </br>A Real Person?"
    p.main__subtitle.subtitle!= "Yes, actually we are real flesh-and-blood people! Call, fax or email us and we’ll get back to you as soon as is humanly possible."

    .main__row
      .main__col
        p.main__col-title!= "INTERNATIONAL FX BROKERS (PTY) LTD"
        p.main__col-text!= "Reg No: 2017/282704/07"
        p.main__col-text!= "2nd Floor, West Tower, Nelson Mandela Square"
        p.main__col-text!= "Maude Street, Sandton, 2196"
        p.main__col-text!= "PO Box 785553, Sandton, 2196"

      .main__col
        p.main__col-title!= "INTERNATIONAL FX BROKERS LIMITED"
        p.main__col-text!= "Reg. no: 24702 IBC 2018"
        p.main__col-text!= "SHAMROCK LODGE, MURRAY ROAD"
        p.main__col-text!= "KINGSTOWN, ST. VINCENT AND THE GRENADINES"

    .main__cover

      p.main__cover-title!= "Client Service Suite:"

      a.main__cover-phone.title(href="tel:+27422930473" class="" title="")!= "+27 42 293 0473"
      a.main__cover-phone.title(href="tel:+27422930475" class="" title="")!= "+27 42 293 0475"

// CONTACT US :: END