// MAIN ONLINE TRADING :: START

.main
  .main__bg.main__bg-0
  .main__bg.main__bg-1

  .container#ourbespoketradingaccounts
    h1.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Our Bespoke </br>Trading Accounts"

    .main__row
      .main__col
        .main__info.wow.wowFadeUp(data-animation-delay="0.4s")
          p.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.5s")!= "All our live accounts gain access to the IFX Academy – just another way we’re better"

      .main__col
        p.main__text.text.wow.wowFadeUp(data-animation-delay="0.4s")!= "IFX gives you the choice of a selection of trading accounts, specifically designed to meet your needs. Obviously, we offer real trading accounts, but we also support the novice trader with the IFX Demo Account."
        p.main__text.text.wow.wowFadeUp(data-animation-delay="0.5s")!= "This account, operating through virtual funds, allows the novice to study the functionality of our trading platforms and test various trading strategies."

  .container.container--mobile
    .main__table.wow.wowFadeUp(data-animation-delay="0.6s")

      .main__table-wrap

        .main__table-bg.main__table-bg-0
        .main__table-bg.main__table-bg-1
        .main__table-bg.main__table-bg-2
        //.main__table-bg.main__table-bg-3
        //.main__table-bg.main__table-bg-4

        .main__table-row.main__table-row-0
          .main__table-col.main__table-col-0
          .main__table-col.main__table-col-1
            != "IFX Standard"
          .main__table-col.main__table-col-2
            != "IFX VIP"
          //.main__table-col.main__table-col-3
            != "IFX Gold"
          //.main__table-col.main__table-col-4
            != "VIP Platinum"

        .main__table-row.main__table-row-1
          .main__table-col.main__table-col-0
            != "Minimum deposit"
          .main__table-col.main__table-col-1
            != "100$ – 19,999$"
          .main__table-col.main__table-col-2
            != "from 20,000$"
          //.main__table-col.main__table-col-3
            != "5000$ – 19999$"
          //.main__table-col.main__table-col-4
            != "20000$"

        .main__table-row.main__table-row-2
          .main__table-col.main__table-col-0
            != "IFX Interactive Academy"
          .main__table-col.main__table-col-1
            i.icon.icon-approve
          .main__table-col.main__table-col-2
            i.icon.icon-approve
          //.main__table-col.main__table-col-3
            i.icon.icon-approve
          //.main__table-col.main__table-col-4
            i.icon.icon-approve

        .main__table-row.main__table-row-3
          .main__table-col.main__table-col-0
            != "Same Day Withdrawals"
          .main__table-col.main__table-col-1
            i.icon.icon-approve
          .main__table-col.main__table-col-2
            i.icon.icon-approve
          //.main__table-col.main__table-col-3
            i.icon.icon-approve
          //.main__table-col.main__table-col-4
            i.icon.icon-approve

        .main__table-row.main__table-row-4
          .main__table-col.main__table-col-0
            != "Autochartist"
          .main__table-col.main__table-col-1
            i.icon.icon-approve
          .main__table-col.main__table-col-2
            i.icon.icon-approve
          //.main__table-col.main__table-col-3
            i.icon.icon-decline
          //.main__table-col.main__table-col-4
            i.icon.icon-approve

        .main__table-row.main__table-row-5
          .main__table-col.main__table-col-0
            != "Bitcoin Trading"
          .main__table-col.main__table-col-1
            i.icon.icon-approve
          .main__table-col.main__table-col-2
            i.icon.icon-approve
          //.main__table-col.main__table-col-3
            i.icon.icon-approve
          //.main__table-col.main__table-col-4
            i.icon.icon-approve

        .main__table-row.main__table-row-6
          .main__table-col.main__table-col-0
            != "Maximum Leverage"
          .main__table-col.main__table-col-1
            != "1:500"
          .main__table-col.main__table-col-2
            != "1:500"
          //.main__table-col.main__table-col-3
            != "1:500"
          //.main__table-col.main__table-col-4
            != "1:500"

        .main__table-row.main__table-row-7
          .main__table-col.main__table-col-0
            != "Supply & Demand Educational Charts"
          .main__table-col.main__table-col-1
            i.icon.icon-approve
          .main__table-col.main__table-col-2
            i.icon.icon-approve
          //.main__table-col.main__table-col-3
            != "Competitive ECN"
          //.main__table-col.main__table-col-4
            != "Competitive ECN"

        .main__table-row.main__table-row-8
          .main__table-col.main__table-col-0
            != "Spreads"
          .main__table-col.main__table-col-1
            != "Regular - from 2 pips"
          .main__table-col.main__table-col-2
            != "RAW ECN"
          //.main__table-col.main__table-col-3
            i.icon.icon-approve
          //.main__table-col.main__table-col-4
            i.icon.icon-approve

        .main__table-row.main__table-row-9
          .main__table-col.main__table-col-0
            != "Dedicated Account Manager"
          .main__table-col.main__table-col-1
            i.icon.icon-decline
          .main__table-col.main__table-col-2
            i.icon.icon-approve
          //.main__table-col.main__table-col-3
            i.icon.icon-approve
          //.main__table-col.main__table-col-4
            i.icon.icon-approve

        .main__table-row.main__table-row-10
          .main__table-col.main__table-col-0
          .main__table-col.main__table-col-1
            a(href="#" class="main__table-btn" title="")!= "Start Trading"
          .main__table-col.main__table-col-2
            a(href="#" class="main__table-btn" title="")!= "Start Trading"
          //.main__table-col.main__table-col-3
            a(href="#" class="main__table-btn" title="")!= "Start Trading"
          //.main__table-col.main__table-col-4
            a(href="#" class="main__table-btn" title="")!= "Start Trading"

// MAIN ONLINE TRADING :: END