// EQUINIX - CYBERSONIC EXECUTION :: START

mixin mainBlock(className, iconName, delayT, title, text)
  .main__block.wow.wowFadeUp(data-animation-delay!= delayT + "s", class!= className)
    .main__block-left
      .main__block-icon
        i.icon(class!= iconName)

    .main__block-right
      p.main__block-title!= title
      p.main__block-text!= text

.main

  .container

    .main__row
      .main__col
        h1.main__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Equinix - Cybersonic Execution"

      .main__col

        .main__box.wow.wowFadeUp(data-animation-delay="0.4s")
          p.main__box-text.wow.wowFadeUp(data-animation-delay="0.5s")!= "The Future of Forex is Now"

    p.main__text.text.wow.wowFadeUp(data-animation-delay="0.55s")!= "In an increasingly competitive and volatile global trading atmosphere, online trading systems and strategies are entirely reliant on their execution infrastructure. Making or losing money is no longer determined by minutes but milliseconds."
    p.main__text.main__text--p.text.wow.wowFadeUp(data-animation-delay="0.65s")!= "We are proud to be associated with Equinix, a NASDAQ listed concern, based in New York and London."


    .main__wrap
      +mainBlock("main__block-0", "icon-web", "0.5", "Stability", "99.9% MT4 Uptime")
      +mainBlock("main__block-1", "icon-web", "0.6", "Process Ability", "150 Unique price feeds at speed")

    .main__wrap
      +mainBlock("main__block-2", "icon-web", "0.5", "Execution Speed", "2.5 millisecond")
      +mainBlock("main__block-3", "icon-web", "0.6", "Executed Trades", "Up to 500000 trades executed per msec")

// EQUINIX - CYBERSONIC EXECUTION :: END