// CONTACT US :: START

.main

  .container
    h1.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Want To Talk To </br>A Real Person?"
    p.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Yes, actually we are real flesh-and-blood people! Call, fax or email us and we’ll get back to you as soon as is humanly possible."

    .main__row
      .main__col
        p.main__col-title.wow.wowFadeUp(data-animation-delay="0.5s")!= "INTERNATIONAL FX BROKERS (PTY) LTD"
        p.main__col-text.wow.wowFadeUp(data-animation-delay="0.55s")!= "Reg No: 2017/282704/07"
        p.main__col-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "2nd Floor, West Tower, Nelson Mandela Square"
        p.main__col-text.wow.wowFadeUp(data-animation-delay="0.65s")!= "Maude Street, Sandton, 2196"
        p.main__col-text.wow.wowFadeUp(data-animation-delay="0.7s")!= "PO Box 785553, Sandton, 2196"

      .main__col
        p.main__col-title.wow.wowFadeUp(data-animation-delay="0.5s")!= "INTERNATIONAL FX BROKERS LIMITED"
        p.main__col-text.wow.wowFadeUp(data-animation-delay="0.55s")!= "Reg. no: 24702 IBC 2018"
        p.main__col-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "SHAMROCK LODGE, MURRAY ROAD"
        p.main__col-text.wow.wowFadeUp(data-animation-delay="0.65s")!= "KINGSTOWN, ST. VINCENT AND THE GRENADINES"

    .main__circle.wow.wowFadeUp(data-animation-delay="0.7s")
      i.icon.icon-phone.animated

// CONTACT US :: END