// MAIN TRADING HOURS :: START

.main
  .container

    .main__bg

    .container.container--small
      h1.main__title!= "Trading Hours"
      p.main__subtitle.subtitle!= "As always, our trading conditions were designed with you in mind and it’s no coincidence that they conform to the highest global standards. IFX Brokers are single-mindedly focused on ensuring that your trading experience is streamlined and profitable."

      .main__table
        table
          thead
            tr
              th(colspan=2)
              th.main__table-title!= "Trading Hours (server time)"
              th.main__table-title!= "Daily Break (server time)"
          tbody
            tr
              td.main__table-subtitle(colspan=4)!= "CURRENCY PAIRS"
            tr
              td(colspan=2)!= "All"
              td!= "Daily: 00:01 – 23:59"
              td!= ""
            tr
              td(colspan=2)!= "All"
              td!= "Friday: 00:001 – 23:57"
              td!= ""
            tr
              td.main__table-subtitle(colspan=4)!= "SPOT METALS"
            tr
              td(colspan=2)!= "All"
              td!= "Daily: 00:01 – 23:59"
              td!= ""
            tr
              td.main__table-subtitle(colspan=4)!= "ENERGIES"
            tr
              td(colspan=2)!= "XTI/USD"
              td!= "01:00 – 23:59 </br>Friday: 01:00 – 23:57"
              td!= ""
            tr
              td(colspan=2)!= "XNG/USD"
              td!= "01:00 – 23:59 </br>Friday: 01:00 – 23:57"
              td!= ""
            tr
              td(colspan=2)!= "XBR/USD"
              td!= "01:00 – 23:59 </br>Friday: 01:00 – 23:57"
              td!= ""
            tr
              td.main__table-subtitle(colspan=4)!= "SOFT COMMODITIES"
            tr
              td(colspan=2)!= "Corn"
              td!= "03:00 – 21:20"
              td!= "15:45 - 16:30 | 21:20 – 03:00"
            tr
              td(colspan=2)!= "Coffee"
              td!= "11:16 – 20:30"
              td!= "20:30 – 11:16"
            tr
              td(colspan=2)!= "Soybean"
              td!= "03:00 – 21:15"
              td!= "15:45 - 16:30 | 21:15 – 03:00"
            tr
              td(colspan=2)!= "Sugar"
              td!= "10:31 – 20:00"
              td!= "20:00 – 10:31"
            tr
              td(colspan=2)!= "Wheat"
              td!= "04:00 – 22:20"
              td!= "16:45 – 17:30 | 22:20 – 04:00"
            tr
              td.main__table-subtitle(colspan=4)!= "FUTURES"
            tr
              td(colspan=2)!= "Brent Crude Oil </br>Futures (Brentxx)"
              td!= "Monday Open: 01:00 </br>Friday Close: 23:15"
              td!= ""
            tr
              td(colspan=2)!= "WTI Crude Oil </br>Futures (WTIxx)"
              td!= "Monday Open: 01:00 </br>Friday Close: 23:15"
              td!= ""
            tr
              td(colspan=2)!= "US Volatility Index </br>Futures (VIXxx)"
              td!= "Monday Open: 00:01 </br>Friday Close: 23:57"
              td!= ""
            tr
              td(colspan=2)!= "YS Dollar Index </br>Futures (DXYxx)"
              td!= "Monday Open: 00:01 </br>Friday Close: 23:57"
              td!= ""
            tr
              td.main__table-subtitle(colspan=4)!= "INDICES"
            tr
              td!= "Index"
              td!= "Reference"
              td!= "Daily Trading Hours </br>(server time)"
              td!= "Daily Break </br>(server time)"
            tr
              td!= "AUS 200"
              td!= "S&P/ASX </br>200 Index"
              td!= "02:50 - 09:30, 10:10 - 24:00 </br>(Monday Open 02:50, </br>Friday Close 23:57)"
              td!= "24:00 - 02:50, </br>09:30 - 10:10"
            tr
              td!= "US30"
              td!= "DJIA Index"
              td!= "01:00 - 23:15, 23:30 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:15)"
              td!= "23:15 - 23:30, </br>23:59 - 01:00"
            tr
              td!= "US500"
              td!= "E-mini S & P </br>500 Index"
              td!= "01:00 - 23:15, 23:30 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:15)"
              td!= "23:15 - 23:30, </br>23:59 - 01:00"
            tr
              td!= "UK1000"
              td!= "FTSE 100 </br>Index"
              td!= "02:50 - 09:30, 10:10 - 24:00 </br>(Monday Open 02:50, </br>Friday Close 23:57)"
              td!= "00:15 - 01:00"
            tr
              td!= "DE30"
              td!= "Xetra DAX </br>Index"
              td!= "02:50 - 09:30, 10:10 - 24:00 </br>(Monday Open 02:50, </br>Friday Close 23:57)"
              td!= "00:15 - 01:00"
            tr
              td!= "ES35"
              td!= "IBEX-35 Index"
              td!= "11:00 - 22:00 </br>(Monday Open 11:00, </br>Friday Close 22:00)"
              td!= "22:00 - 11:00"
            tr
              td!= "IT40"
              td!= "FTSE/MIB </br>Index"
              td!= "11:00 - 19:40 </br>(Monday Open 11:00, </br>Friday Close 19:40)"
              td!= "19:40 - 11:00"
            tr
              td!= "F40"
              td!= "CAC 40 </br>Index"
              td!= "08:00 - 22:00 </br>(Monday Open 8:00, </br>Friday Close 22:00)"
              td!= "22:00 - 08:00"
            tr
              td!= "STOXX50"
              td!= "Dow Jones </br>EURO STOXX </br>50 Index"
              td!= "10:00 - 23:59 </br>(Monday Open 10:00, </br>Friday Close 23:57)"
              td!= "00:00 – 10;00"
            tr
              td!= "US2000"
              td!= "Russell 2000 </br>Index"
              td!= "00:01 - 01:00, 03:00 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:57)"
              td!= "01:00 – 03:00"
            tr
              td!= "USTEC"
              td!= "E-mini Nasdaq </br>100"
              td!= "01:00 - 23:15, 23:30 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:00)"
              td!= "23:15 - 23:30 </br>23:59 - 01:00"
            tr
              td!= "JP225"
              td!= "Nikkei 225 </br>Index"
              td!= "01:00 - 23:15, 23:30 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:15)"
              td!= "23:59 - 01:00, </br>23:15 - 23:30"
            tr
              td!= "CHINA50"
              td!= "FTSE CHINA </br>50"
              td!= "12:15 - 20:00, 04:00 - 11:30 </br>(Monday Open 3:00, </br>Friday Close 19:00)"
              td!= "20:00 - 04:00, </br>11:30 - 12:15"
            tr
              td!= "HK50"
              td!= "Han Seng </br>Index"
              td!= "04:15 - 07:00, 08:00 - 11:30, </br>12:15 - 18:45 </br>(Monday Open 04:15, </br>Friday Close 18:45)"
              td!= "18:45 - 04:15, </br>07:00 - 08:00, </br>11:30 - 12:15"
            tr
              td!= "WIG20"
              td!= "Poland 20 </br>Index"
              td!= "09:46 - 17:50 </br>(Monday Open 09:46, </br>Friday Close 17:50)"
              td!= "17:50 - 09:46"
            tr
              td.main__table-subtitle(colspan=4)!= "CRYPTOCURRENCY"
            tr
              td(colspan=2)!= "BITCOIN"
              td(colspan=2)!= "Monday: 01:00 – 23:59 </br>Tuesday – Thursday: 00:03 – 01:00 | 03:00 – 23:59 </br>Friday: 00:03 – 01:00 | 03:00 – 23:15"



// MAIN TRADING HOURS :: END