// TRADING TOOLS :: START

.main

  .main__bg
    .main__bg-left
    .main__bg-right

  .container

    .main__row
      .main__col

        h1.main__title!= "Trading Tools"
        p.main__subtitle.subtitle!= "Knowledge is power – and IFX’s Technical Analysis software gives you an (almost) unfair advantage."
        p.main__text.text!= "Sophisticated forex trading strategies and resources ensure that you make the most informed trading decisions possible."
        p.main__text.main__text--p.text!= "Powered by Autochartist, the Autochartist award-winning web platform and MT4 plugin scan the markets to filter out the noise, highlight actionable trading opportunities and predict future price movement with accuracy, speed, transparency and information quality."

        a(href="#" class="main__btn" title="")!= "Subscribe"

      .main__col

// TRADING TOOLS :: END