// DEPOSITS & WITHDRAWALS :: START

.main

  .container.container--small
    h1.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Deposits & Withdrawals"
    p.main__subtitle.title.wow.wowFadeUp(data-animation-delay="0.4s")!= "Funding your account"
    p.main__text.text.wow.wowFadeUp(data-animation-delay="0.5s")!= "IFX Brokers offer 6 flexible account funding options in a variety of base currencies."
    p.main__text.main__text--p.text.wow.wowFadeUp(data-animation-delay="0.6s")!= "Please not that payments to and from international banks may incur costs by either or both parties. These costs are for your account, unless you are a IFX VIP account holder, in which case we cover these costs. We are unable to accept third party payments. All payments must be affected through the bank account linked to your trading account. Should you be a joint signatory of a bank account or credit card, it will be accepted."

  .container

    .main__row
      .main__block.wow.wowFadeUp(data-animation-delay="0.5s")
        .main__block-img-wrap
          img(src="./img/visa.png" srcset="./img/visa@2x.png 2x" class="main__block-img")
          img(src="./img/mc.png" srcset="./img/mc@2x.png 2x" class="main__block-img")

        p.main__block-name!= "CREDIT AND DEBIT CARDS"

        p.main__block-currency!= "Accepted currencies"

        ul.main__block-list
          li.main__block-item!= "AUD"
          li.main__block-item!= "USD"
          li.main__block-item!= "NZD"
          li.main__block-item!= "JPY"
          li.main__block-item!= "CAD"
          li.main__block-item!= "EUR"

        p.main__block-process
          i.icon.icon-clock
          != "Instant processing"

        a.main__block-btn(href="#", class="", title="")!= "Deposit Now"

      .main__block.wow.wowFadeUp(data-animation-delay="0.6s")
        .main__block-img-wrap
          img(src="./img/pp.png" srcset="./img/pp@2x.png 2x" class="main__block-img")

        p.main__block-name!= "PayPal"

        p.main__block-currency!= "Accepted currencies"

        ul.main__block-list
          li.main__block-item!= "AUD"
          li.main__block-item!= "USD"
          li.main__block-item!= "NZD"
          li.main__block-item!= "JPY"
          li.main__block-item!= "CHF"
          li.main__block-item!= "CAD"
          li.main__block-item!= "EUR"
          li.main__block-item!= "HKD"
          li.main__block-item!= "GBP"
          li.main__block-item!= "CAD"

        p.main__block-process
          i.icon.icon-clock
          != "Instant processing"

        a.main__block-btn(href="#", class="", title="")!= "Deposit Now"

      .main__block.wow.wowFadeUp(data-animation-delay="0.7s")
        .main__block-img-wrap
          img(src="./img/pf.png" srcset="./img/pf@2x.png 2x" class="main__block-img")

        p.main__block-name!= "Payfast"

        p.main__block-currency!= "Accepted currencies"

        ul.main__block-list
          li.main__block-item!= "ZAR"

        p.main__block-process
          i.icon.icon-clock
          != "Instant processing"

        a.main__block-btn(href="#", class="", title="")!= "Deposit Now"

      .main__block.wow.wowFadeUp(data-animation-delay="0.5s")
        .main__block-img-wrap
          img(src="./img/wt.png" srcset="./img/wt@2x.png 2x" class="main__block-img")

        p.main__block-name!= "Wire Transfer"

        p.main__block-currency!= "Accepted currencies"

        ul.main__block-list
          li.main__block-item!= "AUD"
          li.main__block-item!= "USD"
          li.main__block-item!= "NZD"
          li.main__block-item!= "JPY"
          li.main__block-item!= "CAD"
          li.main__block-item!= "EUR"
          li.main__block-item!= "ZAR"

        p.main__block-process
          i.icon.icon-clock
          != "Approx Processing: 1-3 working days"

        a.main__block-btn(href="#", class="", title="")!= "Deposit Now"

      .main__block.wow.wowFadeUp(data-animation-delay="0.6s")
        .main__block-img-wrap
          img(src="./img/skrill.png" srcset="./img/skrill@2x.png 2x" class="main__block-img")

        p.main__block-name!= "Skrill"

        p.main__block-currency!= "Accepted currencies"

        ul.main__block-list
          li.main__block-item!= "EUR"
          li.main__block-item!= "USD"
          li.main__block-item!= "GBP"
          li.main__block-item!= "CZK"
          li.main__block-item!= "PLN"

        p.main__block-process
          i.icon.icon-clock
          != "Instant processing"

        a.main__block-btn(href="#", class="", title="")!= "Deposit Now"

      .main__block.wow.wowFadeUp(data-animation-delay="0.7s")
        .main__block-img-wrap
          img(src="./img/neteller.png" srcset="./img/neteller@2x.png 2x" class="main__block-img")

        p.main__block-name!= "Neteller"

        p.main__block-currency!= "Accepted currencies"

        ul.main__block-list
          li.main__block-item!= "AUD"
          li.main__block-item!= "USD"
          li.main__block-item!= "NZD"
          li.main__block-item!= "JPY"
          li.main__block-item!= "CAD"
          li.main__block-item!= "EUR"
          li.main__block-item!= "ZAR"
          li.main__block-item!= "CHF"

        p.main__block-process
          i.icon.icon-clock
          != "Instant processing"

        a.main__block-btn(href="#", class="", title="")!= "Deposit Now"

// DEPOSITS & WITHDRAWALS :: END