// MAIN TRADING HOURS :: START

.main
  .container

    .main__bg

    .container.container--small
      h1.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Trading Hours"
      p.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "As always, our trading conditions were designed with you in mind and it’s no coincidence that they conform to the highest global standards. IFX Brokers are single-mindedly focused on ensuring that your trading experience is streamlined and profitable."

      .main__accordion-cover
        .main__accordion
          .main__accordion-wrap.wow.wowFadeUp(data-animation-delay="0.55s")
            .main__accordion-header(accordion-js)

              .main__accordion-col
                p.main__accordion-title!= "CURRENCY PAIRS"
              .main__accordion-col
                p.main__accordion-subtitle!= "Trading Hours (server time)"
              .main__accordion-col
                p.main__accordion-subtitle!= "Daily Break (server time)"

              a(href="#" title="" class="main__accordion-btn")
                i.icon.icon-accordion-arrow

            .main__accordion-body
              .main__accordion-row
                .main__accordion-col
                  p!= "All"
                .main__accordion-col
                  p!= "Daily: 00:01 – 23:59"
                .main__accordion-col
                  p
              .main__accordion-row
                .main__accordion-col
                  p!= "All"
                .main__accordion-col
                  p!= "Friday: 00:01 – 23:57"
                .main__accordion-col
                  p

          .main__accordion-wrap.wow.wowFadeUp(data-animation-delay="0.6s")
            .main__accordion-header(accordion-js)

              .main__accordion-col
                p.main__accordion-title!= "SPOT METALS"
              .main__accordion-col
                p.main__accordion-subtitle!= "Trading Hours (server time)"
              .main__accordion-col
                p.main__accordion-subtitle!= "Daily Break (server time)"

              a(href="#" title="" class="main__accordion-btn")
                i.icon.icon-accordion-arrow

            .main__accordion-body
              .main__accordion-row
                .main__accordion-col
                  p!= "All"
                .main__accordion-col
                  p!= "Daily: 00:01 – 23:59"
                .main__accordion-col
                  p

          .main__accordion-wrap.wow.wowFadeUp(data-animation-delay="0.65s")
            .main__accordion-header(accordion-js)

              .main__accordion-col
                p.main__accordion-title!= "ENERGIES"
              .main__accordion-col
                p.main__accordion-subtitle!= "Trading Hours (server time)"
              .main__accordion-col
                p.main__accordion-subtitle!= "Daily Break (server time)"

              a(href="#" title="" class="main__accordion-btn")
                i.icon.icon-accordion-arrow

            .main__accordion-body
              .main__accordion-row
                .main__accordion-col
                  p!= "XTI/USD"
                .main__accordion-col
                  p!= "01:00 – 23:59 </br>Friday: 01:00 – 23:57"
                .main__accordion-col
                  p
              .main__accordion-row
                .main__accordion-col
                  p!= "XNG/USD"
                .main__accordion-col
                  p!= "01:00 – 23:59 </br>Friday: 01:00 – 23:57"
                .main__accordion-col
                  p
              .main__accordion-row
                .main__accordion-col
                  p!= "XBR/USD"
                .main__accordion-col
                  p!= "01:00 – 23:59 </br>Friday: 03:00 – 23:57"
                .main__accordion-col
                  p

          .main__accordion-wrap.wow.wowFadeUp(data-animation-delay="0.7s")
            .main__accordion-header(accordion-js)

              .main__accordion-col
                p.main__accordion-title!= "SOFT COMMODITIES"
              .main__accordion-col
                p.main__accordion-subtitle!= "Trading Hours (server time)"
              .main__accordion-col
                p.main__accordion-subtitle!= "Daily Break (server time)"

              a(href="#" title="" class="main__accordion-btn")
                i.icon.icon-accordion-arrow

            .main__accordion-body
              .main__accordion-row
                .main__accordion-col
                  p!= "Corn"
                .main__accordion-col
                  p!= "03:00 – 21:20"
                .main__accordion-col
                  p!= "15:45 - 16:30 | 21:20 – 03:00"
              .main__accordion-row
                .main__accordion-col
                  p!= "Coffee"
                .main__accordion-col
                  p!= "11:16 – 20:30"
                .main__accordion-col
                  p!= "20:30 – 11:16"
              .main__accordion-row
                .main__accordion-col
                  p!= "Soybean"
                .main__accordion-col
                  p!= "03:00 – 21:15"
                .main__accordion-col
                  p!= "15:45 - 16:30 | 21:15 – 03:00"
              .main__accordion-row
                .main__accordion-col
                  p!= "Sugar"
                .main__accordion-col
                  p!= "10:31 – 20:00"
                .main__accordion-col
                  p!= "20:00 – 10:31"
              .main__accordion-row
                .main__accordion-col
                  p!= "Wheat"
                .main__accordion-col
                  p!= "04:00 – 22:20"
                .main__accordion-col
                  p!= "16:45 – 17:30 | 22:20 – 04:00"

          .main__accordion-wrap.wow.wowFadeUp(data-animation-delay="0.75s")
            .main__accordion-header(accordion-js)

              .main__accordion-col
                p.main__accordion-title!= "FUTURES"
              .main__accordion-col
                p.main__accordion-subtitle!= "Trading Hours (server time)"
              .main__accordion-col
                p.main__accordion-subtitle!= "Daily Break (server time)"

              a(href="#" title="" class="main__accordion-btn")
                i.icon.icon-accordion-arrow

            .main__accordion-body
              .main__accordion-row
                .main__accordion-col
                  p!= "Brent Crude Oil </br>Futures (Brentxx)"
                .main__accordion-col
                  p!= "Monday Open: 01:00 </br>Friday Close: 23:15"
                .main__accordion-col
                  p
              .main__accordion-row
                .main__accordion-col
                  p!= "WTI Crude Oil </br>Futures (WTIxx)"
                .main__accordion-col
                  p!= "Monday Open: 01:00 </br>Friday Close: 23:15"
                .main__accordion-col
                  p!= "00:00 - 01:00"
              .main__accordion-row
                .main__accordion-col
                  p!= "US Volatility Index </br>Futures (VIXxx)"
                .main__accordion-col
                  p!= "Monday Open: 00:01 </br>Friday Close: 23:57"
                .main__accordion-col
                  p!= "23:15 – 23:30"
              .main__accordion-row
                .main__accordion-col
                  p!= "YS Dollar Index </br>Futures (DXYxx)"
                .main__accordion-col
                  p!= "Monday Open: 00:01 </br>Friday Close: 23:57"
                .main__accordion-col
                  p!= "00:00 – 03:00"

          .main__accordion-wrap.wow.wowFadeUp(data-animation-delay="0.8s")
            .main__accordion-header(accordion-js)

              .main__accordion-col
                p.main__accordion-title!= "INDICES"
              .main__accordion-col
                p.main__accordion-subtitle!= "Trading Hours (server time)"
              .main__accordion-col
                p.main__accordion-subtitle!= "Daily Break (server time)"

              a(href="#" title="" class="main__accordion-btn")
                i.icon.icon-accordion-arrow

            .main__accordion-body
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "Index"
                .main__accordion-col
                  p!= "Reference"
                .main__accordion-col
                  p!= "Daily Trading Hours </br>(server time)"
                .main__accordion-col
                  p!= "Daily Break </br>(server time)"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "AUS 200"
                .main__accordion-col
                  p!= "S&P/ASX </br>200 Index"
                .main__accordion-col
                  p!= "02:50 - 09:30, 10:10 - 24:00 </br>(Monday Open 02:50, </br>Friday Close 23:57)"
                .main__accordion-col
                  p!= "24:00 - 02:50, </br>09:30 - 10:10"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "US30"
                .main__accordion-col
                  p!= "DJIA Index"
                .main__accordion-col
                  p!= "01:00 - 23:15, 23:30 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:15)"
                .main__accordion-col
                  p!= "23:15 - 23:30, </br>23:59 - 01:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "US500"
                .main__accordion-col
                  p!= "E-mini S & P </br>500 Index"
                .main__accordion-col
                  p!= "01:00 - 23:15, 23:30 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:15)"
                .main__accordion-col
                  p!= "23:15 - 23:30, </br>23:59 - 01:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "UK1000"
                .main__accordion-col
                  p!= "FTSE 100 </br>Index"
                .main__accordion-col
                  p!= "02:50 - 09:30, 10:10 - 24:00 </br>(Monday Open 02:50, </br>Friday Close 23:57)"
                .main__accordion-col
                  p!= "00:15 - 01:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "DE30"
                .main__accordion-col
                  p!= "Xetra DAX </br>Index"
                .main__accordion-col
                  p!= "02:50 - 09:30, 10:10 - 24:00 </br>(Monday Open 02:50, </br>Friday Close 23:57)"
                .main__accordion-col
                  p!= "00:15 - 01:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "ES35"
                .main__accordion-col
                  p!= "IBEX-35 Index"
                .main__accordion-col
                  p!= "11:00 - 22:00 </br>(Monday Open 11:00, </br>Friday Close 22:00)"
                .main__accordion-col
                  p!= "22:00 - 11:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "IT40"
                .main__accordion-col
                  p!= "FTSE/MIB </br>Index"
                .main__accordion-col
                  p!= "11:00 - 19:40 </br>(Monday Open 11:00, </br>Friday Close 19:40)"
                .main__accordion-col
                  p!= "19:40 - 11:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "F40"
                .main__accordion-col
                  p!= "CAC 40 </br>Index"
                .main__accordion-col
                  p!= "08:00 - 22:00 </br>(Monday Open 8:00, </br>Friday Close 22:00)"
                .main__accordion-col
                  p!= "22:00 - 08:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "STOXX50"
                .main__accordion-col
                  p!= "Dow Jones </br>EURO STOXX </br>50 Index"
                .main__accordion-col
                  p!= "10:00 - 23:59 </br>(Monday Open 10:00, </br>Friday Close 23:57)"
                .main__accordion-col
                  p!= "00:00 – 10;00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "US2000"
                .main__accordion-col
                  p!= "Russell 2000 </br>Index"
                .main__accordion-col
                  p!= "00:01 - 01:00, 03:00 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:57)"
                .main__accordion-col
                  p!= "01:00 – 03:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "USTEC"
                .main__accordion-col
                  p!= "E-mini Nasdaq </br>100"
                .main__accordion-col
                  p!= "01:00 - 23:15, 23:30 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:00)"
                .main__accordion-col
                  p!= "23:15 - 23:30 </br>23:59 - 01:00"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "JP225"
                .main__accordion-col
                  p!= "Nikkei 225 </br>Index"
                .main__accordion-col
                  p!= "01:00 - 23:15, 23:30 - 23:59 </br>(Monday Open 1:00, </br>Friday Close 23:15)"
                .main__accordion-col
                  p!= "23:59 - 01:00, </br>23:15 - 23:30"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "CHINA50"
                .main__accordion-col
                  p!= "FTSE CHINA </br>50"
                .main__accordion-col
                  p!= "12:15 - 20:00, 04:00 - 11:30 </br>(Monday Open 3:00, </br>Friday Close 19:00)"
                .main__accordion-col
                  p!= "20:00 - 04:00, </br>11:30 - 12:15"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "HK50"
                .main__accordion-col
                  p!= "Han Seng </br>Index"
                .main__accordion-col
                  p!= "04:15 - 07:00, 08:00 - 11:30, 12:15 - 18:45 </br>(Monday Open 04:15, </br>Friday Close 18:45)"
                .main__accordion-col
                  p!= "18:45 - 04:15, </br>07:00 - 08:00, </br>11:30 - 12:15"
              .main__accordion-row.main__accordion-row--4
                .main__accordion-col
                  p!= "WIG20"
                .main__accordion-col
                  p!= "Poland 20 </br>Index"
                .main__accordion-col
                  p!= "09:46 - 17:50 </br>(Monday Open 09:46, </br>Friday Close 17:50)"
                .main__accordion-col
                  p!= "17:50 - 09:46"

          .main__accordion-wrap.wow.wowFadeUp(data-animation-delay="0.85s")
            .main__accordion-header(accordion-js)

              .main__accordion-col
                p.main__accordion-title!= "CRYPTOCURRENCY"
              .main__accordion-col
                p.main__accordion-subtitle!= "Trading Hours (server time)"
              .main__accordion-col
                p.main__accordion-subtitle!= "Daily Break (server time)"

              a(href="#" title="" class="main__accordion-btn")
                i.icon.icon-accordion-arrow

            .main__accordion-body
              .main__accordion-row.main__accordion-row--2
                .main__accordion-col
                  p!= "BITCOIN"
                .main__accordion-col
                  p!= "Monday: 01:00 – 23:59 </br>Tuesday – Thursday: 00:03 – 01:00 | 03:00 – 23:59 </br>Friday: 00:03 – 01:00 | 03:00 – 23:15"

// MAIN TRADING HOURS :: END