// MODAL THOUGHTS :: START

#modalthoughts.modal.mfp-hide.mfp-with-anim
  .modal__body

    p.modal__title.subtitle!= "Submit your compliment"

    // .has-error - class change color placeholder and background-color line - add to .form__field
    form.form(action="" method="")
      .form__field
        input(type="text" name="" id="input-0" class="form__input" input-js)
        label(class="form__label" for="input-0")
          span(class="form__label-content")!= "Name"
        .form__line

      .form__field
        input(type="text" name="" id="input-1" class="form__input" input-js)
        label(class="form__label" for="input-1")
          span(class="form__label-content")!= "Surname"
        .form__line

      .form__field
        input(type="text" name="" id="input-2" class="form__input" input-js)
        label(class="form__label" for="input-2")
          span(class="form__label-content")!= "Email Address"
        .form__line

      .form__field
        input(type="text" name="" id="input-3" class="form__input" input-js)
        label(class="form__label" for="input-3")
          span(class="form__label-content")!= "Cell Number"
        .form__line

      .form__field
        input(type="text" name="" id="input-4" class="form__input" input-js)
        label(class="form__label" for="input-4")
          span(class="form__label-content")!= "Country"
        .form__line

      .form__field
        input(type="text" name="" id="input-5" class="form__input" input-js)
        label(class="form__label" for="input-5")
          span(class="form__label-content")!= "Message"
        .form__line

      button(type="submit" class="form__btn")!= "Send message"

// MODAL THOUGHTS :: END
