// OUR VALUES :: START

.values
  .container

    h2.values__title.title!= "Our Values"

    .values__block.values__block-0
      .values__block-left
        p.values__block-num!= "1"
      .values__block-right
        p.values__block-title!= "We always put your interests first"
        p.values__block-text!= "We know that we have to deliver consistently exceptional service to warrant your trust and confidence. As such, we are guided by our key values."

    .values__block.values__block-1
      .values__block-left
        p.values__block-num!= "2"
      .values__block-right
        p.values__block-title!= "We deliver on our promises"
        p.values__block-text!= "Committed to client satisfaction, we avoid conflict of interest."

    .values__block.values__block-2
      .values__block-left
        p.values__block-num!= "3"
      .values__block-right
        p.values__block-title!= "Everything we do revolves around your success."

    .values__block.values__block-3
      .values__block-left
        p.values__block-num!= "4"
      .values__block-right
        p.values__block-title!= "We’re driven by a genuine desire to share our knowledge and experience. You are never alone."

    .values__block.values__block-4
      .values__block-left
        p.values__block-num!= "5"
      .values__block-right
        p.values__block-title!= "We value relationships of mutual trust and respect. Our open-door policy ensures that you feel part of the IFX family."

    p.values__subtitle.title!= "COMMITMENT. </br>TRANSPARENCY. </br>TRUST."

// OUR VALUES :: END