// OUR PLATFORMS :: START

-
  var platformsIconNameArr = [
    "icon-streamlining",
    "icon-android",
    "icon-web",
    "icon-apple",
    "icon-wide"
  ];
  var platformsTitleArr = [
    "Streamlining successful trading",
    "IFX META TRADER 4 for Android",
    "IFX WEB TRADER",
    "IFX META TRADER 4 for iPhone & iPad",
    "IFX META TRADER 4"
  ];
  var platformsTextArr = [
    "Our live trading servers, hosted by Equinix, are based in the major financial hubs of London and link to Wall Street in New York, Sydney, Tokyo – in fact, anywhere in the world.",
    "The IFX Meta Trader 4 Android OS app provides a comprehensive trading platform for Android devices. You have access to everything you need for successful forex trading, including a complete set of orders, trading history, interactive charts and technical analyses.",
    "This web platform allows you to trade easily and efficiently from any browser or operating system including Windows, Mac and Linux without any additional software. All you need is an internet connection to start trading.",
    "Our live trading servers, hosted by Equinix, are based in the major financial hubs of London and link to Wall Street in New Your, Sydney, Tokyo – in fact, anywhere in the world.",
    "Our revolutionary technology allows you trade with absolute accuracy, free from slippage and re-quotes."
  ];
  var platformsBtnBoolArr = [
    false,
    true,
    false,
    true,
    true
  ];


mixin platformsBlock(iconName, title, text, boolBtn)
  .platforms__block

    .platforms__block-left
      .platforms__block-icon
        i.icon(class!= iconName)

    .platforms__block-right
      p.platforms__block-title!= title
      p.platforms__block-text!= text

      if(!boolBtn)
        a(href="#" class="platforms__block-link link__more" title="")
          != "Read more"
          span
      else
        a.platforms__block-btn(href="#" title="")!= "Download"


.platforms#ourplatforms
  .container

    h2.platforms__title.title!= "Our Platforms"
    p.platforms__subtitle.subtitle!= "We support excellence, the power is in your hands"

    .platforms__row
      .platforms__col
        +platformsBlock(platformsIconNameArr[0], platformsTitleArr[0], platformsTextArr[0], platformsBtnBoolArr[0])
        +platformsBlock(platformsIconNameArr[2], platformsTitleArr[2], platformsTextArr[2], platformsBtnBoolArr[2])
        +platformsBlock(platformsIconNameArr[4], platformsTitleArr[4], platformsTextArr[4], platformsBtnBoolArr[4])
      .platforms__col
        +platformsBlock(platformsIconNameArr[1], platformsTitleArr[1], platformsTextArr[1], platformsBtnBoolArr[1])
        +platformsBlock(platformsIconNameArr[3], platformsTitleArr[3], platformsTextArr[3], platformsBtnBoolArr[3])

// OUR PLATFORMS :: END