// TRADING PLATFORM :: START

-
  var tradingPlatformsIconNameArr = [
    "icon-wide",
    "icon-apple",
    "icon-web",
    "icon-android"
  ];
  var tradingPlatformsTitleArr = [
    "IFX METATRADER 4 DESKTOP",
    "IFX METATRADER 4 for iPhone & iPad",
    "IFX MT4 WEBTRADER",
    "IFX METATRADER 4 for Android"
  ];
  var tradingPlatformsTextArr = [
    "Our revolutionary technology allows you trade with absolute accuracy, free from slippage and re-quotes and re-quotes.",
    "Undoubtedly the most functional platform available for iOS devices, it enables you to trade anytime, anywhere in the world.",
    "This web platform allows you to trade easily and efficiently from any browser or operating system including Windows, Mac and Linux without any additional software. All you need is an internet connection to start trading.",
    "The IFX Meta Trader 4 Android OS app provides a comprehensive trading platform for Android devices. You have access to everything you need for successful forex trading, including a complete set of orders, trading history, interactive charts and technical analyses."
  ];
  var tradingPlatformsBtnBoolArr = [
    true,
    true,
    true,
    true
  ];


mixin tradingPlatformsBlock(iconName, title, text, boolBtn, delayT)
  .tradingPlatforms__block.wow.wowFadeUp(data-animation-delay!= delayT + "s")

    .tradingPlatforms__block-left
      .tradingPlatforms__block-icon
        i.icon(class!= iconName)

    .tradingPlatforms__block-right
      p.tradingPlatforms__block-title!= title
      p.tradingPlatforms__block-text!= text

      if(!boolBtn)
        a(href="#" class="tradingPlatforms__block-link link__more" title="")
          != "Read more"
          span
      else
        a.tradingPlatforms__block-btn(href="#" title="")!= "Download"


.tradingPlatforms#tradingplatforms
  .container
    h2.tradingPlatforms__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Trading Platforms"


  .container-fluid
    .container
      .tradingPlatforms__wrap.wow.wowFadeUp(data-animation-delay="0.4s")
        img(
          src="./img/img-tradingPlatforms_bg.png"
          srcset="./img/img-tradingPlatforms_bg@2x.png 2x"
          title=""
          class="tradingPlatforms__box-img"
        )
        .tradingPlatforms__col
        .tradingPlatforms__col
          .tradingPlatforms__box
            p.tradingPlatforms__box-title.wow.wowFadeUp(data-animation-delay="0.4s")!= "IFX Meta Trader 4"
            p.tradingPlatforms__box-subtitle.wow.wowFadeUp(data-animation-delay="0.5s")!= "#1 Multi Asset trading </br>platform across the glob"
            p.tradingPlatforms__box-text.wow.wowFadeUp(data-animation-delay="0.6s")!= "Reliable and completely secure, you can access 85 pre-installed indicators at the click of a button."
            p.tradingPlatforms__box-text.wow.wowFadeUp(data-animation-delay="0.7s")!= "IFX Meta Trader 4 provides enhanced charting functionality and highly sophisticated order management tools. It also has a multilingual interface, provides a comprehensive analysis and allows for multiple chart set ups."


  .container
    .tradingPlatforms__row
      +tradingPlatformsBlock(tradingPlatformsIconNameArr[0], tradingPlatformsTitleArr[0], tradingPlatformsTextArr[0], tradingPlatformsBtnBoolArr[0], "0.3")
      +tradingPlatformsBlock(tradingPlatformsIconNameArr[1], tradingPlatformsTitleArr[1], tradingPlatformsTextArr[1], tradingPlatformsBtnBoolArr[1], "0.4")
      +tradingPlatformsBlock(tradingPlatformsIconNameArr[2], tradingPlatformsTitleArr[2], tradingPlatformsTextArr[2], tradingPlatformsBtnBoolArr[2], "0.5")
      +tradingPlatformsBlock(tradingPlatformsIconNameArr[3], tradingPlatformsTitleArr[3], tradingPlatformsTextArr[3], tradingPlatformsBtnBoolArr[3], "0.6")




// TRADING PLATFORM :: END