// USE :: START

.use
  .container

    h2.use__title.title!= "How to Use Autochartist"

    .use__row
      .use__col
        .use__block

          .use__block-left
            .use__block-icon
              i.icon.icon-web

          .use__block-right
            p.use__block-title!= "IFX WEB TRADER"
            p.use__block-text!= "The Autochartist web application analyses charts and patterns to help you pinpoint the best trading opportunities right in your browser window.  Just log in to your IFX Secured Client Area and access the Autochartist web app online."
            p.use__block-text!= "Watch an introduction to the web app"

            a(href="#" title="" class="use__block-link use__block-link--0")
              i.icon.icon-playVideo

            a(href="#" title="" class="use__block-btn use__block-btn--color")!= "Download quick start guide"

            a(href="#" title="" class="use__block-btn")!= "GO TO AUTOCHARTIST"

      .use__col
        .use__block

          .use__block-left
            .use__block-icon
              i.icon.icon-wide

          .use__block-right
            p.use__block-title!= "MT4 PLUGIN"
            p.use__block-text!= "The Autochartist plugin integrates seamlessly with your MT4 platform, allowing you to access continuous market scanning from a single chart and giving you the ability to execute trades directly in your MT4."
            p.use__block-text!= "Install the MT4 plugin and get one simple interface with all your Autochartist features, customised to your trading environment."
            p.use__block-text.use__block-text--remark!= "* The MT4 plugin cannot be installed on Mac or Linux. Please Download the instructions for installing the plugin on these devices."
            p.use__block-text!= "Take a tour of the MT4 plugin installation guide"

            a(href="#" title="" class="use__block-link use__block-link--1")
              i.icon.icon-playVideo

            p.use__block-text!= "Watch how to use the Autochartist MT4 plugin"

            a(href="#" title="" class="use__block-link use__block-link--2")
              i.icon.icon-playVideo

            a(href="#" title="" class="use__block-btn")!= "INSTALL THE MT4 PLUGIN"

    .use__container
      .use__box
        p.use__box-title!= "Informed trading decisions. </br>Putting you way ahead."
        a.use__box-link(href="#" title="")
          != "Read the Autochartist user manual"
          i.icon.icon-right-corner
        a.use__box-link(href="#" title="")
          != "Read the Autochartist MT4 Plugin Manual"
          i.icon.icon-right-corner
        a.use__box-link(href="#" title="")
          != "Read the make Discipline a habit eBook"
          i.icon.icon-right-corner
        a.use__box-link(href="#" title="")
          != "Read the Trading Tips eBook"
          i.icon.icon-right-corner

      .use__box
        p.use__box-title!= "Experience the rush </br>Getting started with Trading Community"
        p.use__box-text!= "Visit the <span>Autochartist Trading Community</span> centre and access a wealth of material ranging from practical advice to detailed technological analyses."


// USE :: END
