// WHAT :: START

.what
  .what__bg
  .container
    .what__row
      .what__col
        h2.what__title.title!= "DO WHAT YOU DO BEST AND MAKE MONEY. <span>IT’S A NO BRAINER</span>"

        a(
          href="#"
          title=""
          class="what__btn"
        )!= "Start Trading Now"

      .what__col
        img(
          src="./img/img-whatYouDo.png"
          srcset="./img/img-whatYouDo@2x.png 2x"
          title=""
          alt=""
          class="what__img"
          objectFit-js
        )

// WHAT :: END