// MENU :: START

//- variable start
-
  // ABOUT
  var aboutSectionAnchorArr = [
    "#whoweare",
    "#ourvision",
    "#ourvalues",
    "#ourtransparency",
    "#ourdirectors",
    "#ouraccounts",
    "#ourplatforms",
    "#ourservers",
    "#ourpartners",
    "#what"
  ];
  var aboutSectionNameArr = [
    "What we do",
    "Our Vision",
    "Our Values",
    "Our Transparency",
    "Our Directors",
    "Our Accounts",
    "Our Platforms",
    "Our Servers",
    "Our Partners",
    "Do what you do best and make money"
  ];

  // ONLINE TRADING
  var onlineTradingSectionAnchorArr = [
    "#ourbespoketradingaccounts",
    "#tradingplatforms",
    "gettingDownBusiness.html",
    "depositsWithdrawals.html",
    "tradingHours.html",
    "equinixCybersonicExecution.html"
  ];
  var onlineTradingSectionNameArr = [
    "Our Bespoke Trading Accounts",
    "Trading Platforms",
    "Getting Down to Business",
    "Deposits & Withdrawals",
    "Trading Hours",
    "Equinix - Cybersonic Execution"
  ];

  // TRADING TOOLS
  var tradingToolsSectionAnchorArr = [
    "#main",
    "#drivers",
    "#autochartist",
    "#use"
  ];
  var tradingToolsSectionNameArr = [
    "Technical Analysis software",
    "Putting you in the driver’s seat",
    "Autochartist Benefits",
    "How to Use Autochartist"
  ];

  // LEARN
  var learnSectionAnchorArr = [
    "#theifxacademy",
    "#studymethods",
    "#studymaterial",
    "#yourcommitment"
  ];
  var learnSectionNameArr = [
    "THE IFX ACADEMY",
    "Study methods",
    "Study Material",
    "YOUR COMMITMENT"
  ];

  // PARTNERSHIP
  var partnershipSectionAnchorArr = [
    "#main",
    "#ourpartnership",
    "#yourclientsbenefittoo",
    "#theifxdifference",
    "#theifxmarketingportal",
    "#introducingbrokers",
    "#affiliates",
    "#referafriend",
    "#getstarted"
  ];
  var partnershipSectionNameArr = [
    "Why wouldn’t you partner with a </br>global leader in forex and cfd?",
    "Your Success",
    "Your Clients Benefit Too",
    "The IFX Difference",
    "The IFX Marketing Portal",
    "Introducing Brokers",
    "Affiliates",
    "Refer A Friend",
    "Get Started"
  ];

  // INFO CENTER
  var infoCentreSectionAnchorArr = [
    "getTrading.html",
    "smallPrint.html",
    "accountOpening.html",
    "collaborate.html",
    "pipsqueaks.html"
  ];
  var infoCentreSectionNameArr = [
    "Let’s get trading",
    "The small print",
    "Account opening, funding and withdrawals",
    "Don’t hesitate - collaborate",
    "The difference between pips & pipsqueaks"
  ];

  // CONTACTS
  var contactsSectionAnchorArr = [
    "#main",
    "#service",
    "#enquiries",
    "#support",
    "#thoughts"
  ];
  var contactsSectionNameArr = [
    "Want To Talk To A Real Person?",
    "Client Service Suite",
    "For your specific enquiries, email us at",
    "IFX Brokers Support Services",
    "Share your thoughts"
  ];
//- variable end

.menu
  ul.menu__list

    //- ABOUT
    li.menu__item.wow.wowFadeDown(
      class!= (bodyClass === "about") ? "is-active":""
      menu-js
    )
      a(href!= "about.html", title!="", class!="menu__link")!= "About Us"
      .menu__dropdown
        .menu__dropdown-wrap
          .menu__dropdown-arrow
          .menu__dropdown-cover
            -for(var j = 0; j < aboutSectionAnchorArr.length; j++)
              a(
                href!= aboutSectionAnchorArr[j]
                class="menu__dropdown-link"
                title=""
                data-parent="about"
                dropdown-btn-js
              )!= aboutSectionNameArr[j]

    //- ONLINE TRADING
    li.menu__item.wow.wowFadeDown(
      class!= (bodyClass === "onlineTrading" || bodyClass === "gettingDownBusiness" || bodyClass === "depositsWithdrawals" || bodyClass === "tradingHours" || bodyClass === "equinixCybersonicExecution") ? "is-active":""
      menu-js
    )
      a(href!= "onlineTrading.html", title!="", class!="menu__link")!= "Online Trading"
      .menu__dropdown
        .menu__dropdown-wrap
          .menu__dropdown-arrow
          .menu__dropdown-cover
            -for(var j = 0; j < onlineTradingSectionAnchorArr.length; j++)
              a(
                href!= onlineTradingSectionAnchorArr[j]
                class="menu__dropdown-link"
                title=""
                data-parent="onlineTrading"
                dropdown-btn-js
              )!= onlineTradingSectionNameArr[j]

    //- TRADING TOOLS
    li.menu__item.wow.wowFadeDown(
      class!= (bodyClass === "tradingTools") ? "is-active":""
      menu-js
    )
      a(href!= "tradingTools.html", title!="", class!="menu__link")!= "Trading Tools"
      .menu__dropdown
        .menu__dropdown-wrap
          .menu__dropdown-arrow
          .menu__dropdown-cover
            -for(var j = 0; j < tradingToolsSectionAnchorArr.length; j++)
              a(
                href!= tradingToolsSectionAnchorArr[j]
                class="menu__dropdown-link"
                title=""
                data-parent="tradingTools"
                dropdown-btn-js
              )!= tradingToolsSectionNameArr[j]

    //- LEARN
    li.menu__item.wow.wowFadeDown(
      class!= (bodyClass === "learn") ? "is-active":""
      menu-js
    )
      a(href!= "learn.html", title!="", class!="menu__link")!= "Learn"
      .menu__dropdown
        .menu__dropdown-wrap
          .menu__dropdown-arrow
          .menu__dropdown-cover
            -for(var j = 0; j < learnSectionAnchorArr.length; j++)
              a(
                href!= learnSectionAnchorArr[j]
                class="menu__dropdown-link"
                title=""
                data-parent="learn"
                dropdown-btn-js
              )!= learnSectionNameArr[j]

    //- PARTNERSHIP
    li.menu__item.wow.wowFadeDown(
      class!= (bodyClass === "partnership") ? "is-active":""
      menu-js
    )
      a(href!= "partnership.html", title!="", class!="menu__link")!= "Partnership"
      .menu__dropdown
        .menu__dropdown-wrap
          .menu__dropdown-arrow
          .menu__dropdown-cover
            -for(var j = 0; j < partnershipSectionAnchorArr.length; j++)
              a(
                href!= partnershipSectionAnchorArr[j]
                class="menu__dropdown-link"
                title=""
                data-parent="partnership"
                dropdown-btn-js
              )!= partnershipSectionNameArr[j]

    //- INFO CENTRE
    li.menu__item.wow.wowFadeDown(
      class!= (bodyClass === "infoCentre") ? "is-active":""
      menu-js
    )
      a(href!= "infoCentre.html", title!="", class!="menu__link")!= "Info Centre"
      .menu__dropdown
        .menu__dropdown-wrap
          .menu__dropdown-arrow
          .menu__dropdown-cover
            -for(var j = 0; j < infoCentreSectionAnchorArr.length; j++)
              a(
                href!= infoCentreSectionAnchorArr[j]
                class="menu__dropdown-link"
                title=""
                data-parent="infoCentre"
                dropdown-btn-js
              )!= infoCentreSectionNameArr[j]

    //- CONTACTS
    li.menu__item.wow.wowFadeDown(
      class!= (bodyClass === "contacts") ? "is-active":""
      menu-js
    )
      a(href!= "contacts.html", title!="", class!="menu__link")!= "Contact Us"
      .menu__dropdown
        .menu__dropdown-wrap
          .menu__dropdown-arrow
          .menu__dropdown-cover
            -for(var j = 0; j < contactsSectionAnchorArr.length; j++)
              a(
                href!= contactsSectionAnchorArr[j]
                class="menu__dropdown-link"
                title=""
                data-parent="contacts"
                dropdown-btn-js
              )!= contactsSectionNameArr[j]

// MENU :: END