// MENU :: START

//- variable start
-
  var menuArr = [
    "About Us",
    "Online Trading",
    "Learn",
    "Partnership",
    "Info Centre"
  ];
  var menuHref = [
    "about.html",
    "onlineTrading.html",
    "learn.html",
    "partnership.html",
    "infoCentre.html"
  ];
  // ABOUT
  var aboutSectionAnchorArr = [
    "#whoweare",
    "#ourvision",
    "#ourvalues",
    "#ourtransparency",
    "#ourdirectors",
    "#ouraccounts",
    "#ourplatforms",
    "#ourservers",
    "#ourpartners"
  ];
  var aboutSectionNameArr = [
    "Who we are",
    "Our Vision",
    "Our Values",
    "Our Transparency",
    "Our Directors",
    "Our Accounts",
    "Our Platforms",
    "Our Servers",
    "Our Partners"
  ];

  // ONLINE TRADING
  var onlineTradingSectionAnchorArr = [
    "#ourbespoketradingaccounts",
    "#tradingplatforms",
    "gettingDownBusiness.html",
    "depositsWithdrawals.html",
    "tradingHours.html",
    "equinixCybersonicExecution.html"
  ];
  var onlineTradingSectionNameArr = [
    "Our Bespoke Trading Accounts",
    "Trading Platforms",
    "Getting Down to Business",
    "Deposits & Withdrawals",
    "Trading Hours",
    "Equinix - Cybersonic Execution"
  ];

  // LEARN
  var learnSectionAnchorArr = [
    "#theifxacademy",
    "#studymethods",
    "#studymaterial",
    "#yourcommitment"
  ];
  var learnSectionNameArr = [
    "THE IFX ACADEMY",
    "Study methods",
    "Study Material",
    "YOUR COMMITMENT"
  ];

  // PARTNERSHIP
  var partnershipSectionAnchorArr = [
    "#ourpartnership",
    "#yourclientsbenefittoo",
    "#theifxdifference",
    "#theifxmarketingportal",
    "#introducingbrokers",
    "#affiliates",
    "#referafriend",
    "#getstarted"
  ];
  var partnershipSectionNameArr = [
    "Our Partnership",
    "Your Clients Benefit Too",
    "The IFX Difference",
    "The IFX Marketing Portal",
    "Introducing Brokers",
    "Affiliates",
    "Refer A Friend",
    "Get Started"
  ];

  // INFO CENTRE
  var infoCentreSectionAnchorArr = [
    "",
    "",
    "",
    "",
    ""
  ];
  var infoCentreSectionNameArr = [
    "",
    "",
    "",
    "",
    ""
  ];
//- variable end

.menu
  ul.menu__list
    -for(var i = 0, len = menuArr.length; i < len; i++)

      if(bodyClass === "about" && i === 0)
        li.menu__item.wow.wowFadeDown(
          menu-js,
          class!= (i === 0) ? "is-active" : ""
        )
          a(href!= menuHref[i], title!="", class!="menu__link")!= menuArr[i]

          .menu__dropdown
            .menu__dropdown-wrap
              .menu__dropdown-arrow
              .menu__dropdown-cover
                -for(var j = 0; j < aboutSectionAnchorArr.length; j++)
                  a(
                    href!= aboutSectionAnchorArr[j]
                    class="menu__dropdown-link"
                    title=""
                    dropdown-btn-js
                  )!= aboutSectionNameArr[j]

      else if ((bodyClass === "onlineTrading" || bodyClass === "gettingDownBusiness" || bodyClass === "depositsWithdrawals" || bodyClass === "tradingHours" || bodyClass === "equinixCybersonicExecution") && i === 1)
        li.menu__item.wow.wowFadeDown(
          menu-js,
          class!= (i === 1) ? "is-active" : ""
        )
          a(href!= menuHref[i], title!="", class!="menu__link")!= menuArr[i]

          .menu__dropdown
            .menu__dropdown-wrap
              .menu__dropdown-arrow
              .menu__dropdown-cover
                -for(var j = 0; j < onlineTradingSectionAnchorArr.length; j++)
                  if((bodyClass === "gettingDownBusiness" || bodyClass === "depositsWithdrawals" || bodyClass === "tradingHours" || bodyClass === "equinixCybersonicExecution"))
                    -if(onlineTradingSectionAnchorArr[j].indexOf("#") === -1)
                      a(
                        href!= onlineTradingSectionAnchorArr[j]
                        class="menu__dropdown-link"
                        title=""
                        dropdown-btn-js
                      )!= onlineTradingSectionNameArr[j]
                  else
                    a(
                      href!= onlineTradingSectionAnchorArr[j]
                      class="menu__dropdown-link"
                      title=""
                      dropdown-btn-js
                    )!= onlineTradingSectionNameArr[j]


      else if (bodyClass === "learn" && i === 2)
        li.menu__item.wow.wowFadeDown(
          menu-js,
          class!= (i === 2) ? "is-active" : ""
        )
          a(href!= menuHref[i], title!="", class!="menu__link")!= menuArr[i]

          .menu__dropdown
            .menu__dropdown-wrap
              .menu__dropdown-arrow
              .menu__dropdown-cover
                -for(var j = 0; j < learnSectionAnchorArr.length; j++)
                  a(
                    href!= learnSectionAnchorArr[j]
                    class="menu__dropdown-link"
                    title=""
                    dropdown-btn-js
                  )!= learnSectionNameArr[j]

      else if (bodyClass === "partnership" && i === 3)
        li.menu__item.wow.wowFadeDown(
          menu-js,
          class!= (i === 3) ? "is-active" : ""
        )
          a(href!= menuHref[i], title!="", class!="menu__link")!= menuArr[i]

          .menu__dropdown
            .menu__dropdown-wrap
              .menu__dropdown-arrow
              .menu__dropdown-cover
                -for(var j = 0; j < partnershipSectionAnchorArr.length; j++)
                  a(
                    href!= partnershipSectionAnchorArr[j]
                    class="menu__dropdown-link"
                    title=""
                    dropdown-btn-js
                  )!= partnershipSectionNameArr[j]

      else if (bodyClass === "infoCentre" && i === 4)
        li.menu__item.wow.wowFadeDown(
          menu-js,
          class!= (i === 4) ? "is-active" : ""
        )
          a(href!= menuHref[i], title!="", class!="menu__link")!= menuArr[i]

          .menu__dropdown
            .menu__dropdown-wrap
              .menu__dropdown-arrow
              .menu__dropdown-cover
                -for(var j = 0; j < infoCentreSectionAnchorArr.length; j++)
                  a(
                    href!= infoCentreSectionAnchorArr[j]
                    class="menu__dropdown-link"
                    title=""
                    dropdown-btn-js
                  )!= infoCentreSectionNameArr[j]

      else
        li.menu__item.wow.wowFadeDown(
          menu-js,
          class!= ""
        )
          a(href!= menuHref[i], title!="", class!="menu__link")!= menuArr[i]

// MENU :: END