// PARTNERS :: START

-
  var techPartnerImgNameArr = [
    "img-techpartners-0",
    "img-techpartners-1",
    "img-techpartners-2",
    "img-techpartners-3",
    "img-techpartners-4"
  ];

.techPartner
  p.techPartner__title!= "Our Technology Partners"

  ul.techPartner__list
    -for(var i = 0, len = techPartnerImgNameArr.length; i < len; i++)
      li.techPartner__item
        img(
          src="./img/" + techPartnerImgNameArr[i] + ".png"
          srcset="./img/" + techPartnerImgNameArr[i] + "@2x.png 2x"
          title=""
          alt=""
          class="techPartner__img"
        )


// PARTNERS :: END