// PAYMENT :: START

-
  var paymentNameArr = [
  "img-skrill",
  "img-payFast",
  "img-visa",
  "img-paypal",
  "img-mc",
  "img-neteller",
  "img-wire"
  ];

.payment
  p.payment__title!= "We Accept"

  ul.payment__list
    -for(var i = 0, len = paymentNameArr.length; i < len; i++)
      li.payment__item
        img(
          src="./img/" + paymentNameArr[i] + ".png"
          srcset="./img/" + paymentNameArr[i] + "@2x.png 2x"
          title=""
          alt=""
          class="techPartner__img"
        )

// PAYMENT :: END